*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.page-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #1E0606;
}

.bread-crumbs-link{
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
    text-decoration: none;
}

.bread-crumbs-here{
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
    opacity: 0.5;
}

.container {
    max-width: 1400px;
    padding-left: 110px;
    padding-right: 110px;
    margin-right: auto;
    margin-left: auto;
}

.block{
    margin-top: 90px;
}

.block-title{
    text-transform: uppercase;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    margin: 0;
}

.button{
    display: inline-block;
    padding: 9px 22px;
    border: none;
    background-color: #000;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button:hover:not(.disabled-button) {
    background-color: #C29974;
    /* opacity: 1; */
}

.button:active:not(.disabled-button){
    background-color: #CFAF91;
    /* opacity: 1; */
}
.disabled-button{
    background: #C1C1C1;
    color: #E1E1E1;
    pointer-events: none;
    /* это должно было убрать возможность выбрать кнопку табуляцией */
    -moz-user-focus: ignore;
    nav-index: -1;
}

.visible-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}