.footer{
    background-color: #434343;
    padding-top: 100px;
    padding-bottom: 100px;
    /* margin-bottom: 500px; */
}

.footer-links-connects{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    justify-content: space-between;
}

.footer-block{
    margin: 10px;
    margin-top: 0px;
    width: 100%;
}
.footer-block-rating-wrapper{
    margin-left: -10px;
    margin-right: -10px;
}

.footer-block-title{
    margin: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #AAAAAA;
}

/* .footer-block-list a,.rating-wrapper,.copyright,.autors{ */
.footer-block-link{
    display: flex;
    text-decoration: none;
    margin-bottom: 15px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}

.line{
    height: 1px;
    background-color: #666666;
    width: 100%;
    margin-top: 23px;
    margin-bottom: 28px;
}

.connect-inner{
    display: flex;
}

.email{
    background-color: #666666;
    border: none;
    width: 100%;
    padding-left: 15px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #EBEBEB;
    ;
}

.button-connect{
    width: 81px;
    height: 40px;
}

.social-links{
    display: flex;
    margin-top: 25px;
}

.social-link{
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 15px;
    background-color: #666666;
    background-repeat: no-repeat;
    background-position: center;
}

.social-links-facebook{
    background-image: url(/Images/connect/f.png);
}

.social-links-twitter{
    background-image: url(/Images/connect/twitter.png);
}

.social-links-pinterest{
    background-image: url(/Images/connect/pinterest.png);
}

.social-links-instagram{
    background-image: url(/Images/connect/instagram.png);
}

.footer-block-inner{
    display: flex;
    justify-content: space-between;
}

.footer-block-footer{
    width: 100%;
}

.footer-block-rating-wrapper{
    display: flex;
}

.footer-block-rating{
    margin-right: 25px;
    margin-bottom: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}

.footer-block-rating:hover{
    color:#C29974;
}

.stars{
    display: flex;
    align-items: center;
}

.star{
    width: 17px;
    height: 16px;
    margin-right: 3px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/Images/Star.png);
}

.star:hover{
    background-image: url(/Images/Star-hover.png);
}

.star:active{
    background-image: url(/Images/Star-active.png);
}

.footer-block-copyright{
    margin-bottom: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}

.autors{
    text-decoration: none;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #A2A2A2;
    display: flex;
}