.header{
    margin-top: 50px;
    margin-bottom: 60px;
}

.header-nav{
}

.header-nav-items{
    display: flex;
    align-items: center;
    display: flex;
    text-transform: uppercase;
}

.logo{
    margin-right: 50px;
}

.header-nav-block{
    margin: 10px;
}

.header-nav-block-link{
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.header-nav-block-link:hover{
    opacity: 0.5;
}

.header-nav-block-link:active{
    opacity: 0.2;
}

.nav-search{
    margin: 14px;
    margin-left: auto;
}

.header-nav-block:last-child>a{
    font-weight: 700;

}