@import "common.css";
@import "header.css";
@import "footer.css";

/*HEADER - separate file*/

/* PROMO BLOCK  */

.promo-block{
    margin-top: 129px;
}

.promo-block-slider{
    position: relative;
    display: flex;
    min-height: 372px;
    background-color: #EEE4DB;
}

.promo-block-slider-control{
    margin: 17px 35px 0px 28px;
}

.promo-block-slider-page{
    margin: 0;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
}

.promo-block-slider-selector{
    display: block;
    margin: 11px;
    width: 31px;
    height: 3px;
    background-color: #D6CAC2;
}

.promo-block-slider-selector:hover{
    background-color: #725F5B;
}

.promo-block-slider-selector.selected{
    background-color: #725F5B;
}

.promo-block-slider-content{
    margin-top: 89px;
    max-width: 307px;
}

.promo-block-subtitle{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.toy-image{
    position: absolute;
    bottom: 0px;
    left: 445px;
    /* right: 99px; */
    height: 461px;
    width: 635.49px;
    margin-right: 99px;
}

.promo-block-footer{
    background-color: #C29974;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 11px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* PRODUCT BLOCK  */

.product-block{
}

.product-block-list{
    margin-top: 30px;
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}

.product-block-item{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 270px;
    margin: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
}

.product-block-item:hover{
    text-decoration: underline;
}

.apparel-kids{
    background-color: #DBE4DB;
    background-image: url(/images/category/apparel.png);
    background-repeat: no-repeat;
    background-position: center;
}

.holiday-shop{
    background-color:#EADDD3;
    background-image: url(/images/category/holiday.png);
    background-repeat: no-repeat;
    background-position: center;
}

.toys{
    background-color:#F8F2DA;
    background-image: url(/images/category/toys.png);
    background-repeat: no-repeat;
    background-position: center;
}

.accessories{
    background-color:#D5D4E1;
    background-image: url(/images/category/accessories.png);
    background-repeat: no-repeat;
    background-position: center;
}

.product-block-nav{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.button-scroll{
    cursor: pointer;
    width: 37px;
    height: 37px;
    background-color:rgba(112, 187, 220, 0.2);
    border: none;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-position: center;
}

.scroll-left{
    background-image: url(/images/arrow-left.png);
}

.scroll-right{
    background-image: url(/images/arrow-right.png);
}

.product-block-nav-text{
    margin: 0;
    margin-left: 14px;
    max-width: 580px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

/* SERVICEs BLOCK  */

.services-block-inner{
    display: flex;
}

.woman-in-dress{
    height: 559px;
    width: 480px;
}

.services-block-text{
    margin-left: 120px;
    padding-top: 30px;
}

.services-block-menu-title{
    margin-bottom: -5px;
}

.services-block-menu-item{
    display: block;
    max-width: 326px;
    margin-top: 11px;
    margin-bottom: 11px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-decoration: none;
    color: #000;
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
}

.services-block-menu-item.selected{
    font-weight: bold;
    background-color: rgba(112, 187, 220, 0.2);
    margin-left: -60px;
    padding-left: 60px;
}

.services-block-content-inner{
    margin-top: 30px;
    margin-bottom: 26px;
    max-width: 480px;
}

/* PARTNERS BLOCK  */

.partners-block{
    margin-left: -63px;
    margin-right: -63px;
}

.partners-block-list{
    display: flex;
    justify-content: space-between;
}

.partners-block-list-link{
    margin-left: 63px;
    margin-right: 63px;
}

.partners-block-list-link:hover{
    opacity: 0.5;
}

/* buy-and-contacts-block */

.buy-and-contacts-block-wrapper{
    display: flex;
    align-items: start;
    margin-top: 90px;
    margin-left: -28px;
    /* margin-right: -28px; */
}

.buy-and-contacts-block{
    background-color: #E1F0F7;
    margin: 28px;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.buy-and-contacts-block .block-title{
    position: absolute;
    top: -26px;
}

.buy-and-contacts-block-subtitle{
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    margin-top: 31px;
    margin-bottom: 10px;
}

.buy-block{
    padding-bottom: 45px;
}

.buy-text{
    margin-top: 10px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 29px;
}

.contacts-text{
    margin-top: 41px;
    margin-bottom: 102px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.contacts-map{
    position: absolute;
    top: calc(100% - 82px);
}

/* FOOTER -separate file */
