/* META  */
body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
ul{
    padding: 0;
}
.border{
    margin-left: 110px;
    margin-right: 110px;
}
a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
a:hover{
    opacity: 0.5;
}
a:active{
    opacity: 0.2;
}

/*HEADER*/
.header{
    margin-top: 50px;
}
.header-nav{
}
.header-nav-items{
    display: flex;
    align-items: center;
    display: flex;
    list-style: none;
}
.logo{
    margin-right: 50px;
}
.header-nav-block{
    margin: 10px;
}
.nav-search{
    margin: 14px;
    margin-left: auto;
}
.header-nav-block:last-child>a{
    font-weight: 700;

}